version: '2'

services:
  akeneo:
    image: akeneo/apache-php:php-5.6
    external_links:
        - meup-mysql:mysql
    environment:
      COMPOSER_HOME: '/root/.composer'
      SSH_AUTH_SOCK: /tmp/ssh-agent/socket
    labels:
        - SERVICE_80_NAME=akeneo
        - SERVICE_80_CHECK_HTTP=/
        - SERVICE_80_CHECK_INTERVAL=15s
        - SERVICE_80_CHECK_TIMEOUT=3s
        - SERVICE_80_TAGS=urlprefix-akeneo.local.1001pharmacies.com/
    ports:
      - '80'
    user: root
    volumes:
      - ./:/srv/pim
      - ./docker/akeneo.conf:/etc/apache2/sites-available/000-default.conf:ro
      - ~/.config/composer:/root/.composer
    volumes_from:
        - container:ssh-agent
    working_dir: /srv/pim

networks:
   default:
       external:
           name: meup

